In [1]:
import pandas as pd
books = pd.read_csv('books.csv')

In [2]:
books.head(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,517226952,9780517226957,eng,815,3628,254,11/01/2005,Gramercy Books

In [3]:
books.tail(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
11126,45641,Artemis Fowl (Artemis Fowl #1),Eoin Colfer/Nathaniel Parker,3.84,1400085918,9781400085910,eng,6,55,14,04/06/2004,Listening Library

In [4]:
books.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759888e+12,336.376921,1.793641e+04,541.854498
std,13093.358023,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.176608
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780586e+12,299.000000,7.450000e+02,46.000000
75%,32104.500000,4.135000,9.780873e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [5]:
len(books)

11127

In [6]:
books.shape

(11127, 12)

In [7]:
books.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
num_pages               int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [9]:
books['publication_date'] = pd.to_datetime(books['publication_date'])

In [10]:
books.dtypes

bookID                         int64
title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                         int64
language_code                 object
num_pages                      int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

## What is the most popular book?
Popular books most likely have a high number of ratings and a high average rating.

In [12]:
books['average_rating'].max()

5.0

In [13]:
books.loc[books['average_rating'] == 5.0]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
624,2034,Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...,Aristophanes/F.W. Hall/W.M. Geldart,5.0,198145047,9780198145042,grc,364,0,0,1922-02-22,Oxford University Press USA
786,2560,Willem de Kooning: Late Paintings,Julie Sylvester/David Sylvester,5.0,382960226X,9783829602266,eng,83,1,0,2006-09-01,Schirmer Mosel
855,2843,Literature Circle Guide: Bridge to Terabithia:...,Tara MacCarthy,5.0,439271711,9780439271714,eng,32,4,1,2002-01-01,Teaching Resources
1243,4287,Middlesex Borough (Images of America: New Jersey),Middlesex Borough Heritage Committee,5.0,738511676,9780738511672,eng,128,2,0,2003-03-17,Arcadia Publishing
4126,14741,Zone of the Enders: The 2nd Runner Official St...,Tim Bogenn,5.0,744002354,9780744002355,eng,128,2,0,2003-03-06,BradyGames
4790,17224,The Diamond Color Meditation: Color Pathway to...,John Diamond,5.0,1890995525,9781890995522,eng,74,5,3,2006-02-01,Square One Publishers
4935,17830,Bulgakov's the Master and Margarita: The Text ...,Elena N. Mahlow,5.0,533017424,9780533017423,eng,202,4,0,1975-01-01,Vantage Press
5025,18184,The Complete Theory Fun Factory: Music Theory ...,Ian Martin/Katie Elliott,5.0,851621813,9780851621814,eng,96,1,0,2004-06-01,Boosey & Hawkes Inc
5476,19786,The Goon Show Volume 4: My Knees Have Fallen ...,NOT A BOOK,5.0,563388692,9780563388692,eng,2,3,0,1996-04-01,BBC Physical Audio
5478,19788,The Goon Show Volume 11: He's Fallen in the W...,NOT A BOOK,5.0,563388323,9780563388326,eng,2,2,0,1995-10-02,BBC Physical Audio
5649,20954,Winchester Shotguns,Dennis Adler/R.L. Wilson,5.0,785821082,9780785821083,eng,372,2,0,2008-05-15,Chartwell Books
5650,20957,Colossians and Philemon: A Critical and Exeget...,R. McL. Wilson,5.0,567044718,9780567044716,eng,512,1,0,2005-12-07,T&T Clark Int'l
6187,23276,Taxation of Mineral Rents,Ross Garnaut,5.0,198284543,9780198284543,eng,350,1,0,1983-11-17,Oxford University Press USA
6250,23552,The New Big Book of America,Todd Davis/Marc Frey,5.0,762412631,9780762412631,eng,56,2,1,2002-03-21,Courage Books
6778,25426,Delwau Duon: Peintiadau Nicholas Evans = Symph...,Nicholas Evans/Rhonda Evans,5.0,862431352,9780862431358,wel,150,1,0,1987-06-22,Y Lolfa
8547,32823,Fanning the Flame: Bible Cross and Mission,Chris Green/Chris Wright/Paul Douglas Gardner,5.0,310249872,9780310249870,eng,336,1,1,2003-06-17,Zondervan
9286,36492,Oliver Wendell Holmes in Paris: Medicine Theo...,William C. Dowling,5.0,1584655801,9781584655800,eng,179,1,1,2007-02-28,University Press of New England
9328,36853,Tyrannosaurus Wrecks (Stanley #1),Laura Driscoll/Alisa Klayman-Grodsky/Eric ...,5.0,786845031,9780786845033,eng,24,2,1,2003-02-01,Disney Press
9724,38804,The Irish Anatomist: A Study of Flann O'Brien,Keith Donohue,5.0,1930901356,9781930901353,eng,222,1,0,2003-07-25,Academica Press
9851,39580,The American Campaign: U.S. Presidential Campa...,James E. Campbell,5.0,089096940X,9780890969403,eng,314,0,0,2000-05-01,Texas A&M University Press
9897,39829,His Princess Devotional: A Royal Encounter Wit...,Sheri Rose Shepherd,5.0,1590529626,9781590529621,eng,240,2,0,2007-10-16,Multnomah
10266,41639,Bill Gates: Computer Legend (Famous Lives),Sara Barton-Wood,5.0,739844326,9780739844328,eng,48,0,0,2001-11-01,Raintree

In [18]:
popularity = books[books['ratings_count'] > 1000]
popularity = popularity[popularity['average_rating'] > 4.0]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
6590,24812,The Complete Calvin and Hobbes,Bill Watterson,4.82,740748475,9780740748479,eng,1456,32213,930,2005-09-06,Andrews McMeel Publishing

## Are books with fewer pages rated higher than those with large page counts?
There isn't a large difference between the book ratings. 
Only 0.06 between the top book in each category.

This may benefit from a chart to produce a better visual.

In [21]:
few_pages = books[books['num_pages'] < 300]
few_pages = few_pages[few_pages['ratings_count'] > 1000]
few_pages.sort_values(by=['average_rating'], ascending=False) [:1]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
6592,24814,It's a Magical World (Calvin and Hobbes #11),Bill Watterson,4.76,836221362,9780836221367,eng,176,23875,303,1996-09-01,Andrews McMeel Publishing

In [23]:
many_pages = books[books['num_pages'] > 300]
many_pages = many_pages[many_pages['ratings_count'] > 1000]
many_pages.sort_values(by=['average_rating'], ascending=False) [:1]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
6590,24812,The Complete Calvin and Hobbes,Bill Watterson,4.82,740748475,9780740748479,eng,1456,32213,930,2005-09-06,Andrews McMeel Publishing

## Who wrote the most pages?

In [31]:
max = 0
top_author = None

all_authors = books['authors'].unique()

for author in all_authors:
    total_pages = books.loc[books['authors'] == author, 'num_pages'].sum()
    if total_pages > max:
        max = total_pages
        top_author = author 
        print(max)
        print(author)
        
print(max)
print(top_author)

5049
Douglas Adams
6865
Bill Bryson
8014
J.K. Rowling
12537
J.R.R. Tolkien
18219
Stephen King
18219
Stephen King

## What's an author's average page count?

In [34]:
their_pages = books.loc[books['authors'] == 'Stephen King', 'num_pages'].sum()
their_books = (books['authors'] == 'Stephen King').value_counts() [1]
avg_pages = their_pages / their_books
print(avg_pages)

455.475

## How many books have been written with less than 200 pages?

In [36]:
len(books[books['num_pages'] < 200])

2898