In [3]:
import pandas as pd
books = pd.read_csv('books.csv')

In [11]:
books.head(3)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,517226952,9780517226957,eng,815,3628,254,11/01/2005,Gramercy Books
1,2,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,345453743,9780345453747,eng,815,249558,4080,04/30/2002,Del Rey Books
2,4,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,08/03/2004,Crown

In [12]:
books.tail(3)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9780140131963,eng,415,820,95,08/01/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9780060878825,eng,434,769,139,02/27/2007,Ecco
11126,45641,Artemis Fowl (Artemis Fowl #1),Eoin Colfer/Nathaniel Parker,3.84,1400085918,9781400085910,eng,6,55,14,04/06/2004,Listening Library

In [13]:
books.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759888e+12,336.376921,1.793641e+04,541.854498
std,13093.358023,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.176608
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780586e+12,299.000000,7.450000e+02,46.000000
75%,32104.500000,4.135000,9.780873e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [14]:
len(books)

11127

In [15]:
books.shape

(11127, 12)

In [17]:
books['publication_date'] = pd.to_datetime(books['publication_date'])

In [18]:
books.dtypes

bookID                         int64
title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                         int64
language_code                 object
num_pages                      int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

In [19]:
books['average_rating'].max()

5.0

In [32]:
popularity = books[books['ratings_count'] > 3000000]
popularity

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10340,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,316015849,9780316015844,eng,501,4597666,94265,2006-09-06,Little Brown and Company

In [31]:
books.loc[books['ratings_count'] > 3000000]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10340,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,316015849,9780316015844,eng,501,4597666,94265,2006-09-06,Little Brown and Company

In [37]:
popularity = books[books['ratings_count'] > 500]
popularity = popularity[popularity['average_rating'] > 4.7]
popularity

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
11,18,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,2004-09-13,Scholastic
13,22,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,9780439827607,eng,3342,28242,808,2005-09-12,Scholastic
6590,24812,The Complete Calvin and Hobbes,Bill Watterson,4.82,740748475,9780740748479,eng,1456,32213,930,2005-09-06,Andrews McMeel Publishing
6592,24814,It's a Magical World (Calvin and Hobbes #11),Bill Watterson,4.76,836221362,9780836221367,eng,176,23875,303,1996-09-01,Andrews McMeel Publishing
6593,24816,Homicidal Psycho Jungle Cat (Calvin and Hobbes...,Bill Watterson,4.72,836217691,9780836217698,eng,176,15365,290,1994-09-06,Andrews McMeel Publishing
6596,24820,Calvin and Hobbes: Sunday Pages 1985-1995: An ...,Bill Watterson,4.71,740721356,9780740721359,eng,96,3613,85,2001-09-17,Andrews McMeel Publishing

In [51]:
popularity = books[books['ratings_count'] > 500]
popularity = popularity[popularity['average_rating'] > 4.7]
popularity.sort_values(by=['average_rating'], ascending=True) [:1]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
6596,24820,Calvin and Hobbes: Sunday Pages 1985-1995: An ...,Bill Watterson,4.71,740721356,9780740721359,eng,96,3613,85,2001-09-17,Andrews McMeel Publishing

In [64]:
popularity = books[books['ratings_count'] > 3000000]
popularity

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10340,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,316015849,9780316015844,eng,501,4597666,94265,2006-09-06,Little Brown and Company

In [65]:
books.loc[books['ratings_count'] > 3000000]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10340,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,316015849,9780316015844,eng,501,4597666,94265,2006-09-06,Little Brown and Company

In [75]:
max = 0
top_author = None

all_authors = books['authors'].unique()

for author in all_authors:
    total_pages = books.loc[books['authors'] == author, 'num_pages'].sum()
    if total_pages > max:
        max = total_pages
        top_author = author 
        print(max)
        print(author)
        
print(max)
print(top_author)

5049
Douglas Adams
6865
Bill Bryson
8014
J.K. Rowling
12537
J.R.R. Tolkien
18219
Stephen King
18219
Stephen King

In [76]:
their_pages = books.loc[books['authors'] == 'Stephen King', 'num_pages'].sum()
their_books = (books['authors'] == 'Stephen King').value_counts() [1]
avg_pages = their_pages / their_books
print(avg_pages)

455.475

In [77]:
len(books[books['num_pages'] < 200])

2898

In [78]:
test_balance_data = {
    'pasan': 20.00,
    'treasure': 20.18,
    'ashley': 1.05,
    'craig': 11.11,
}

In [80]:
balances = pd.Series(test_balance_data)
balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       11.11
dtype: float64

In [81]:
unlabeled_balances = pd.Series([20.00, 20.18, 1.05, 42.42])
unlabeled_balances

0    20.00
1    20.18
2     1.05
3    42.42
dtype: float64

In [83]:
labeled_balances = pd.Series(
    [20.00, 20.18, 1.05, 42.42],
    index=['pasan', 'treasure', 'ashley', 'craig']
)
labeled_balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

In [85]:
pd.Series(50.00, index=["guil", "jay", "james", "ben", "nick"])

guil     50.0
jay      50.0
james    50.0
ben      50.0
nick     50.0
dtype: float64