In [1]:
import pandas as pd
pd.__version__

'1.5.2'

In [2]:
billboard = pd.read_csv("Billboard_100_2017-2018.csv", index_col="ID")
spotify = pd.read_csv("Spotify_200_2017-2018.csv", index_col="ID")

In [3]:
billboard.shape

(10153, 7)

In [4]:
spotify.shape

(20735, 5)

In [5]:
billboard.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date
ID,,,,,,,
2666,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018"
2667,Halsey,Without Me,2,2.0,11.0,2018-12-29,"October 4, 2018"
2668,Travis Scott,Sicko Mode,3,1.0,20.0,2018-12-29,"August 3, 2018"
2669,"Post Malone, Swae Lee",Sunflower,4,4.0,9.0,2018-12-29,"October 18, 2018"
2670,"Marshmello, Bastille",Happier,5,3.0,18.0,2018-12-29,"August 17, 2018"

In [6]:
spotify.head(8)

                  Name        Artists   Streams      S.Week     BB.Week
ID
0       In My Feelings          Drake  30747676  2018-07-20  2018-07-21
1         Lucid Dreams     Juice WRLD  12930705  2018-07-20  2018-07-21
2              Nonstop          Drake  12312859  2018-07-20  2018-07-21
3       God Is A Woman  Ariana Grande  10771324  2018-07-20  2018-07-21
4                 SAD!   XXXTENTACION  10503061  2018-07-20  2018-07-21
5                Taste           Tyga   9777479  2018-07-20  2018-07-21
6   Don’t Matter To Me          Drake   9769263  2018-07-20  2018-07-21
7            I Like It        Cardi B   9278476  2018-07-20  2018-07-21

In [7]:
ariana_bill = billboard[billboard["Artists"].str.contains("Ariana Grande")]
ariana_spot = spotify[spotify["Artists"].str.contains("Ariana Grande")]

In [8]:
ariana_bill.shape

(102, 7)

In [9]:
ariana_spot.shape

(186, 5)

In [10]:
ariana_combined = pd.merge(ariana_bill, ariana_spot, how="left", on=["Name", "Artists", "BB.Week"])

In [11]:
ariana_combined.shape

(102, 9)

In [12]:
ariana_combined.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date,Streams,S.Week
0,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018",9226168.0,2018-12-28
1,Ariana Grande,Breathin,19,12.0,18.0,2018-12-29,"August 17, 2018",2435276.0,2018-12-28
2,Ariana Grande,Imagine,24,NaN,NaN,2018-12-29,"December 14, 2018",5205506.0,2018-12-28
3,Ariana Grande,"Thank U, Next",1,1.0,6.0,2018-12-22,"November 3, 2018",11776847.0,2018-12-21
4,Ariana Grande,Breathin,14,12.0,17.0,2018-12-22,"August 17, 2018",2899268.0,2018-12-21

In [13]:
ariana_combined[["Artists", "Name", "BB.Week", "Weekly.Rank", "Streams"]]

           Artists           Name     BB.Week  Weekly.Rank     Streams
0    Ariana Grande  Thank U, Next  2018-12-29            1   9226168.0
1    Ariana Grande       Breathin  2018-12-29           19   2435276.0
2    Ariana Grande        Imagine  2018-12-29           24   5205506.0
3    Ariana Grande  Thank U, Next  2018-12-22            1  11776847.0
4    Ariana Grande       Breathin  2018-12-22           14   2899268.0
..             ...            ...         ...          ...         ...
97   Ariana Grande   Side To Side  2017-02-04           12   2897525.0
98   Ariana Grande   Side To Side  2017-01-28            9   2836346.0
99   Ariana Grande   Side To Side  2017-01-21            6   3022353.0
100  Ariana Grande   Side To Side  2017-01-14            7   3102930.0
101  Ariana Grande   Side To Side  2017-01-07            6   3222416.0

[102 rows x 5 columns]

In [14]:
ariana_combined[ariana_combined['Streams'].isnull()]

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date,Streams,S.Week
72,Ariana Grande,The Light Is Coming,95,NaN,NaN,2018-07-07,"June 20, 2018",NaN,NaN
92,Ariana Grande,Everyday,85,NaN,NaN,2017-03-04,"May 20, 2016",NaN,NaN
94,"Ariana Grande, John Legend",Beauty And The Beast,87,NaN,NaN,2017-02-25,"February 3, 2017",NaN,NaN

## Challenge 1:
- Merge Billboard dataset and Spotify dataset
- Display shape and head of merged dataset

### Merge billboard and spotify datasets

In [15]:
bill_spot = pd.merge(billboard, spotify, how='left', on=['Name', 'Artists', 'BB.Week'])

### Show dimensions of combined dataset

In [16]:
bill_spot.shape

(10153, 9)

### Show dimensions of Billboard dataset

In [17]:
billboard.shape

(10153, 7)

### Show first five records of combined dataset

In [18]:
bill_spot.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date,Streams,S.Week
0,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018",9226168.0,2018-12-28
1,Halsey,Without Me,2,2.0,11.0,2018-12-29,"October 4, 2018",7412009.0,2018-12-28
2,Travis Scott,Sicko Mode,3,1.0,20.0,2018-12-29,"August 3, 2018",NaN,NaN
3,"Post Malone, Swae Lee",Sunflower,4,4.0,9.0,2018-12-29,"October 18, 2018",NaN,NaN
4,"Marshmello, Bastille",Happier,5,3.0,18.0,2018-12-29,"August 17, 2018",NaN,NaN

In [19]:
billboard19 = pd.read_csv("Billboard_100_2019.csv", index_col="ID")
spotify19 = pd.read_csv("Spotify_200_2019.csv", index_col="ID")

In [20]:
ariana_bill19 = billboard19[billboard19["Artists"].str.contains("Ariana Grande")]
ariana_spot19 = spotify19[spotify19["Artists"].str.contains("Ariana Grande")]

In [21]:
ariana_bill.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date
ID,,,,,,,
2666,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018"
2684,Ariana Grande,Breathin,19,12.0,18.0,2018-12-29,"August 17, 2018"
2689,Ariana Grande,Imagine,24,NaN,NaN,2018-12-29,"December 14, 2018"
2761,Ariana Grande,"Thank U, Next",1,1.0,6.0,2018-12-22,"November 3, 2018"
2774,Ariana Grande,Breathin,14,12.0,17.0,2018-12-22,"August 17, 2018"

In [22]:
ariana_bill19.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date
ID,,,,,,,
23,Ariana Grande,7 Rings,23,1.0,23.0,2019-07-06,"January 18, 2019"
49,Ariana Grande,"Break Up With Your Girlfriend, I'm Bored",49,2.0,20.0,2019-07-06,"February 8, 2019"
118,Ariana Grande,7 Rings,19,1.0,22.0,2019-06-29,"January 18, 2019"
140,Ariana Grande,"Break Up With Your Girlfriend, I'm Bored",41,2.0,19.0,2019-06-29,"February 8, 2019"
214,Ariana Grande,7 Rings,16,1.0,21.0,2019-06-22,"January 18, 2019"

In [23]:
ariana_bill.shape

(102, 7)

In [24]:
ariana_bill19.shape

(101, 7)

In [25]:
ariana_bill_all = pd.concat([ariana_bill, ariana_bill19])

In [26]:
ariana_bill_all.shape

(203, 7)

In [27]:
ariana_spot.head()

                     Name        Artists   Streams      S.Week     BB.Week
ID
3          God Is A Woman  Ariana Grande  10771324  2018-07-20  2018-07-21
28   No Tears Left To Cry  Ariana Grande   4509464  2018-07-20  2018-07-21
694          Side To Side  Ariana Grande   1886373  2017-03-10  2017-03-11
761              Everyday  Ariana Grande   1343728  2017-03-10  2017-03-11
815  No Tears Left To Cry  Ariana Grande   5296282  2018-05-25  2018-05-26

In [28]:
ariana_spot19.head()

,Name,Artists,Streams,S.Week,BB.Week
ID,,,,,
1001,7 Rings,Ariana Grande,6439592,2019-04-12,2019-04-13
1017,Monopoly,"Ariana Grande, Victoria Monet",5512870,2019-04-12,2019-04-13
1022,"Break Up With Your Girlfriend, I'm Bored",Ariana Grande,5080706,2019-04-12,2019-04-13
1045,"Thank U, Next",Ariana Grande,3836034,2019-04-12,2019-04-13
1136,NASA,Ariana Grande,1943175,2019-04-12,2019-04-13

In [29]:
ariana_spot.shape

(186, 5)

In [30]:
ariana_spot19.shape

(196, 5)

In [31]:
ariana_spot_all = pd.concat([ariana_spot, ariana_spot19])

In [32]:
ariana_spot_all.shape

(382, 5)

## Challenge 2
- Read additonal CSV Files
- Concatenate Billboard 100 2017-2018 data with Billboard 100 2019 data
- Concatenate Spotify 200 2017-2018 data with Spotify 200 2019 data
- Display shape of combined datasets

### Read additonal CSV files
- Billboard 100 2019 data
- Spotify 100 2019 data

In [35]:
billboard19 = pd.read_csv("Billboard_100_2019.csv", index_col="ID")
spotify19 = pd.read_csv("Spotify_200_2019.csv", index_col="ID")

## Concatenate datasets
- billboard_all = billboard + billboard19
- spotify_all = spotify + spotify19

In [38]:
billboard_all = pd.concat([billboard, billboard19])

In [40]:
spotify_all = pd.concat([spotify, spotify19])

### Show dimensions of billboard, billboard19, and billboard_all datasets

In [44]:
billboard.shape

(10153, 7)

In [45]:
billboard19.shape

(2665, 7)

In [46]:
billboard_all.shape

(12818, 7)

### Show dimensions of spotify, spotify19, and spotify_all datasets

In [47]:
spotify.shape

(20735, 5)

In [48]:
spotify19.shape

(5383, 5)

In [49]:
spotify_all.shape

(26118, 5)

In [50]:
ariana_bill_all.shape

(203, 7)

In [51]:
ariana_spot_all.shape

(382, 5)

In [52]:
ariana_final = pd.merge(ariana_bill_all, ariana_spot_all, how="left", on=["Name", "Artists", "BB.Week"])

In [53]:
ariana_final.shape

(203, 9)

In [54]:
ariana_final.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date,Streams,S.Week
0,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018",9226168.0,2018-12-28
1,Ariana Grande,Breathin,19,12.0,18.0,2018-12-29,"August 17, 2018",2435276.0,2018-12-28
2,Ariana Grande,Imagine,24,NaN,NaN,2018-12-29,"December 14, 2018",5205506.0,2018-12-28
3,Ariana Grande,"Thank U, Next",1,1.0,6.0,2018-12-22,"November 3, 2018",11776847.0,2018-12-21
4,Ariana Grande,Breathin,14,12.0,17.0,2018-12-22,"August 17, 2018",2899268.0,2018-12-21

## Challenge 3:
- Merge Billboard dataset and Spotify dataset
- Display shape and head of combined dataset

### Merge billboard_all and spotify_all datasets

In [61]:
bill_spot_final = pd.merge(billboard_all, spotify_all, how="left", on=["Name", "Artists", "BB.Week"])

### Show dimensions of combined dataset

In [65]:
bill_spot_final.shape

(12818, 9)

### Show first five records of combined dataset

In [66]:
bill_spot_final.head()

,Artists,Name,Weekly.Rank,Peak.Position,Chart.Weeks,BB.Week,Release.Date,Streams,S.Week
0,Ariana Grande,"Thank U, Next",1,1.0,7.0,2018-12-29,"November 3, 2018",9226168.0,2018-12-28
1,Halsey,Without Me,2,2.0,11.0,2018-12-29,"October 4, 2018",7412009.0,2018-12-28
2,Travis Scott,Sicko Mode,3,1.0,20.0,2018-12-29,"August 3, 2018",NaN,NaN
3,"Post Malone, Swae Lee",Sunflower,4,4.0,9.0,2018-12-29,"October 18, 2018",NaN,NaN
4,"Marshmello, Bastille",Happier,5,3.0,18.0,2018-12-29,"August 17, 2018",NaN,NaN